:root{
  // 主色 (Primary)
    --ws-primary-50: #f0fdfa;
    --ws-primary-100: #ccf7ee;
    --ws-primary-200: #99ede1;
    --ws-primary-300: #66e3d4;
    --ws-primary-400: #3bbba6;
    --ws-primary-500: #2e9a87;
    --ws-primary-600: #237768;
    --ws-primary-700: #185549;
    --ws-primary-800: #0d332a;
    --ws-primary-900: #041a15;

    // 警告色 (Warning)
    --ws-warning-50: #fffbeb;
    --ws-warning-100: #fef3c7;
    --ws-warning-300: #fcd34d;
    --ws-warning-500: #f59e0b;
    --ws-warning-700: #b45309;

    // 错误色 (Error)
    --ws-error-50: #fef2f2;
    --ws-error-100: #fee2e2;
    --ws-error-300: #fca5a5;
    --ws-error-500: #ef4444;
    --ws-error-700: #b91c1c;

    // 信息色 (Info)
    --ws-info-50: #eff6ff;
    --ws-info-100: #dbeafe;
    --ws-info-300: #93c5fd;
    --ws-info-500: #3b82f6;
    --ws-info-700: #1d4ed8;

    // 成功色 (Success)
    --ws-success-50: #f0fdf4;
    --ws-success-100: #dcfce7;
    --ws-success-300: #86efac;
    --ws-success-500: #22c55e;
    --ws-success-700: #15803d;

    // 加载色 (Loading)
    --ws-loading-50: #f9fafb;
    --ws-loading-100: #f3f4f6;
    --ws-loading-300: #d1d5db;
    --ws-loading-500: #9ca3af;
    --ws-loading-700: #4b5563;

    // 中性色 (Neutral)
    --ws-black: #000000;
    --ws-gray-50: #fafafa;
    --ws-gray-100: #f5f5f5;
    --ws-gray-200: #eeeeee;
    --ws-gray-300: #e0e0e0;
    --ws-gray-400: #bdbdbd;
    --ws-gray-500: #9e9e9e;
    --ws-gray-600: #757575;
    --ws-gray-700: #616161;
    --ws-gray-800: #424242;
    --ws-gray-900: #212121;
    --ws-white: #ffffff;
}